html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:  ;
}

header {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 150px;
}

header > div {
  margin-top: 30px;
  margin-left: 30px;
}

header > div > .title {
  display: block;

  width: 20%;

  text-transform: uppercase;

  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  font-weight: 500;
}

header > div > .description {
  display: block;

  margin-top: 2vw;

  text-transform: uppercase;

  font-family: "Roboto", sans-serif;
  font-size: 2.1vw;
  font-weight: 400;
}

header > div > img {
  width: 25vw;
  height: auto;
  margin-top: 1vw;
  margin-left: 9vw;
}

.main_part {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.main_part > .plaint_white {
  width: 100%;
  height: 118vw;
}

.main_part > .grey_paper {
  position: absolute;
  top: 10vw;
  left: 40%;

  width: 50%;
  height: 50%;
}

.main_part > .grey_paper > .green_shape {
  display: block;

  width: 100%;
  height: 10vw;

  background-color: rgba(146, 241, 72, 0.7);
}

.main_part > .grey_paper > .paper {
  position: relative;

  width: 30vw;
  height: 30vw;
  margin-top: -5vw;
  margin-left: 15%;
  padding: 5%;

  background: url("../images/poster-bg.png") center center no-repeat;
  background-size: cover;
}

.main_part > .grey_paper > .paper > span {
  display: flex;

  width: 85%;
  height: 100%;

  text-transform: uppercase;

  color: .EBEF28;

  font-family: "Roboto", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
}

.main_part > .information {
  position: absolute;
  top: 46vw;
  left: 30px;

    padding: 3% 7%;
}

.main_part > .information > span {
  display: block;

  text-transform: uppercase;

  color: white;

  font-family: "Roboto", sans-serif;
  font-size: 2.6vw;
  font-weight: 500;
}

.main_part > .repeat_bg {
  display: block;

  width: 100%;
  height: 0;
  padding-bottom: 118vw;

  background: url("../images/repeat_bg.png") center center;
  background-size: 30%;
}

.main_part > .list {
  position: absolute;
  left: 6%;

  display: flex;
  flex-direction: row;

  width: 35%;
  margin-top: 68vw;
}

.main_part > .list > .list_items {
  width: 100%;
  margin-left: 5%;
}

.main_part > .list > .list_items > span {
  text-transform: uppercase;

  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
}

.main_part > .list > .list_items > p {
  display: block;

  margin-top: 4%;
  margin-bottom: 10%;
  margin-left: 10%;

  text-transform: uppercase;

  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.6;
}

.pink {
  background-color: rgba(241, 72, 234, 0.7);
}

.info_space {
  margin-top: 2%;
}

.vert_line {
  width: .5vw;
}


/*Footer*/
footer {
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 18vw;
  margin-top: 5vw;

  justify-content: flex-end;
  align-items: center;
}

footer > div {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 16vw;
  margin-top: -9vw;
  padding-top: 2vw;

  text-align: center;

  color: rgba(241, 72, 234, 0.7);
  background-color: rgba(146, 241, 72, 0.7);

  font-family: sans-serif;

  justify-content: flex-start;
  align-items: center;
}

footer > div > span {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  font-weight: 40 ;
}

footer > span {
  width: 100%;
  margin-top: -4vw;

  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 16vw;
  font-weight: 300;
  line-height: .68em;
}

.footer_space_top {
  margin-top: 1.5vw;
}




/*iPad Pro*/
/* Portrait */
@media all screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header > div > .title {
    font-size: 3.2vw;
  }

  header > div > .description {
    font-size: 2.6vw;
  }

  header > div > img {
  width: 30vw;
  }

  .main_part > .information {
  top: 49vw;
  }

  .main_part > .grey_paper > .paper {
    width: 32vw;
    height: 32vw;
    margin-top: -4vh;
  }

  .main_part > .grey_paper > .paper > span {
    font-size: 2.5vw;
  }

  .main_part > .repeat_bg {
    padding-bottom: 200vw;
  }

  .main_part > .list {
    margin-top: 70vw;
  }

  .main_part > .list > .list_items > span {
    font-size: 3vw;
  }

  .main_part > .list > .list_items > p {
    font-size: 2vw;
  }
}


/* Landscape */
@media all screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
header > div > .title {
  font-size: 3.7vw;
}

header > div > .description {
  font-size: 2.7vw;
}


.main_part > .information {
  top: 60%;
}

.main_part > .grey_paper > .paper > span {
  font-size: 2.3vw;
}

.main_part > .repeat_bg {
  padding-bottom: 170vh;
}

.main_part > .list {
  margin-top: 88vh;
}

.main_part > .list > .list_items > span {
  font-size: 2.7vw;
}

.main_part > .list > .list_items > p {
  font-size: 1.2vw;
}
}




/*iPad Mini*/
/* Portrait */
@media all screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  header > div > .title {
    font-size: 4vw;
  }

  header > div > .description {
    font-size: 3vw;
  }

  header > div > img {
    width: 40vw;
    margin-top: 5vw;
    margin-left: 0;
  }

  .main_part > .grey_paper {
    top: 24%;
    left: 45%;
  }


  .main_part > .grey_paper > .paper {
    width: 30vw;
    height: 30vw;
    margin-top: -4vh;
  }

  .main_part > .grey_paper > .paper > span {
    font-size: 2.3vw;
  }

  .main_part > .information {
     top: 65vw;
   }

  .main_part > .repeat_bg {
    padding-bottom: 124vh;
  }

  .main_part > .list {
    margin-top: 85vw;
  }

  .main_part > .list > .list_items > span {
    font-size: 2.2vw;
  }

  .main_part > .list > .list_items > p {
    font-size: 1.5vw;
  }
}

/* Landscape*/
@media all screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  header > div > .title {
    font-size: 4.2vw;
  }

  header > div > .description {
    font-size: 2.7vw;
  }

  header > div > img {
    width: 34vw;
    margin-top: 5vw;
    margin-left: 0;
  }

  .main_part > .grey_paper > .paper > span {
    font-size: 2.3vw;
  }

  .main_part > .grey_paper {
    top: 29%;
  }

  .main_part > .information {
    top: 59vw;
  }

  .main_part > .list {
    margin-top: 78vw;
  }

  .main_part > .list > .list_items > span {
    font-size: 2.5vw;
  }

  .main_part > .list > .list_items > p {
    font-size: 1.4vw;
  }

  .main_part > .repeat_bg {
    padding-bottom: 150vw;
  }
}





/*iPhone SE*/
/* Portrait */
@media all screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header > div > .title {
    font-size: 28px;
  }

  header > div > .description {
    font-size: 19px;
  }

  header > div > img {
    width: 250px;
    margin-top: 14vw;
    margin-left: 2vw;
  }

  .main_part {
    flex-direction: column;
  }

  .main_part > .plaint_white {
    height: 80vh;
  }

  .main_part > .grey_paper {
    position: static;

    width: 100%;
    height: 100vh;
    margin-bottom: -55vh;
  }

  .main_part > .grey_paper > .green_shape {
    height: 20vw;
  }

  .main_part > .grey_paper > .paper {
    width: 60vw;
    height: 60vw;
    margin-top: -10vw;
    margin-left: 15%;
  }

  .main_part > .grey_paper > .paper > span {
    font-size: 5vw;
  }

  .main_part > .information {
    position: static;
    z-index: 1;

    width: 86%;
    margin-top: -10%;

    font-size: 4vw;
  }

  .main_part > .repeat_bg {
    padding-bottom: 90vh;

    background-size: 40%;
  }

  .main_part > .list {
    position: static;

    width: 80%;
    margin-top: 5vh;
    margin-bottom: 20%;
    margin-left: 10%;
  }

  .main_part > .list > .list_items {
    margin-left: 7%;
  }

  .main_part > .list > .list_items > span {
    font-size: 8vw;
  }

  .main_part > .list > .list_items > p {
    margin-left: 5%;

    font-size: 3.7vw;
  }

  footer {
    margin-top: 0;
  }

  .vert_line {
    width: 1vw;
  }
}


/* Landscape */
@media all screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  header > div > .title {
    font-size: 50px;
  }

  header > div > .description {
    font-size: 35px;
  }

  header > div > img {
    width: 360px;
    margin-top: 5vw;
  }

  .main_part {
    flex-direction: column;
  }

  .main_part > .plaint_white {
    height: 190vh;
  }

  .main_part > .grey_paper {
    position: static;

    width: 100%;
    height: 100vh;
  }

  .main_part > .grey_paper > .green_shape {
    height: 30%;
  }

  .main_part > .grey_paper > .paper {
    width: 50vw;
    height: 50vw;
    margin-top: -15vh;
    margin-left: 18.5vw;
  }

  .main_part > .grey_paper > .paper > span {
    font-size: 5vw;
  }

  .main_part > .information {
    position: static;
    z-index: 1;

    width: 86%;

    font-size: 4vw;
  }

  .main_part > .repeat_bg {
    padding-bottom: 90vh;

    background-size: 40%;
  }

  .main_part > .list {
    position: static;

    width: 80%;
    margin-top: 15vh;
    margin-bottom: 15%;
    margin-left: 10%;
  }

  .main_part > .list > .list_items {
    margin-left: 7%;
  }

  .main_part > .list > .list_items > span {
    font-size: 6vw;
  }

  .main_part > .list > .list_items > p {
    margin-left: 5%;

    font-size: 2.5vw;
  }
}
